*{
  margin :0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: Lucida Console;
  height: 1500px;
}
.page{
  display: flex;
  justify-content:space-between;
  background-color: #d3d3d3;
  width: 100%;
  height: 2500px;
  flex-direction: column;

}
.content{
  display: flex;
}
.image{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
  height:1600px;
}

.main-content{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-image: url(images/lake_3.jpg);
  background-attachment: fixed;
}
.header{
  display:flex;
  color: #f07470;
  /*background-color: #63c5da; */
  height : 150px;
  width : 100%;
  align-items: center;
  justify-content: center;
}
.body-content{
  display: flex;
  height:300px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.body-content p {
  font-size: 25px;
  color: #333;
  text-align: center;
}
.side-content{
  display: flex;
  margin-bottom: 25px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*background-color: #0492c2;*/
}
.side-content a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.corner{
  display: flex;
}
.nav-item{
  margin: 15px;
  margin-bottom: 50px;
}
.footer{
  width: 100%;
  display: flex;
  height: 120px;
  background-color: #ea4c46;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
}
.footer a{
  font-size: 40px;
  color: #d3d3d3;
  text-decoration: none;
}

/*tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .side-content{
    flex-direction: row;
  }
}

@media only screen and (min-width: 961px) {

}
